---
import { getCollection } from 'astro:content';

interface Props {
    name: string,
    title: string
}

const { name } = Astro.props
const collectionData = await getCollection(name);
---

<table>
    <thead>
        <tr>
            <th>Behavior</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {collectionData.map(element => (
            <tr>
                <td><code>{element.data.behavior}</code></td>
                <td>{element.data.description}</td>
            </tr>
        ))}
    </tbody>
</table>